### Java (Spring Boot) ###
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
*.iml
*.iws
.idea/
out/
*.ipr

# Eclipse
.project
.classpath
.settings/

# 기타 IDE
.vscode/
*.log

# OS 관련
.DS_Store
Thumbs.db

# Lombok 설정
*.lombok.config

# 환경 설정
.env
*.env
*.key
*.pem

# Spring Boot 설정파일 (선택적)
**/application-*.yml
**/application-*.properties
**/application.properties


# H2, HSQL
*.h2.db
*.mv.db

# Logs
logs/
*.log

# Upload file directory
/uploads/*
---

### React (Frontend) ###
# dependencies
node_modules/

# production
build/

# misc
.env
*.log
.cache/
.yarn/

# Testing
coverage/

# OS
.DS_Store
Thumbs.db
